
.main-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 70px;
   color:#1D5B79;
    padding: 10px;
}

.grid-layout{
    padding-top: 7vh;

}
.colum-style{
    padding-bottom: 4vh;
}

.card:hover{
transform:  scale(1.15);
}

.card{
    transition: all 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.h1{
    color: #7286D3;
}

.footer{
    padding-bottom: 80px;
    border: 0px solid;
    background-color: white;

}

.list-group{
    justify-content: center;
    margin-top: 20px;
}

.list-group-item{
    padding-left: 50px;
    padding-right: 50px;
}

@media all and (max-width:720px){
    .list-group-item{
        padding-left: 20px;
        padding-right: 20px;
    }
}